img {
  display:block;
  margin: auto;
  /* max-width: 500px; 建議可加上「最大寬度」讓圖片不會過大。500px只是一個例子*/
}

#home{
  text-align:center;
}
input[type=submit] { /******** 改變提交按鈕樣式 ********/
	padding:5px 35px; background:#32906e; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 0px;
}
